.Search-bar input{
    width: 50rem;
    border: none;
    padding-left: .5rem;
   
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.Search-bar button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: groove 0.1rem;
    margin-top: .3rem;
    padding-right: .5rem;
    border-radius: .5rem;
    height: 3rem;
    cursor: pointer;
}

.Search-bar img{
    width: 1.4rem;
    height: 1.4rem;
    font-weight: 700;
    border: none;
    background-color: white;
    margin: .2rem;
    
}