@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*============== Pre-definitions and variables ==============*/
:root{
font-size: 62.5%; /* 1rem = 10px */
}

/*============== General Config ==============*/
* {
  box-sizing: border-box;
  margin: 1rem;
  padding: 0;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

body{
  background-color: #e5e5e5e5;
}
/*============== Bars div Config ==============*/
.Bars{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: #e5e5e5e5;
  border-bottom: ridge;
  padding: 0;
}

